<style>
    * {
        font-family: 'Google Sans', sans-serif;
        justify-content: center;
    }
</style>

<div style="
              max-width: 700px;
              margin: 50px auto;
              border: 1px #dddddd solid;
              border-radius: 8px;
              align-items: center;
              justify-content: center;
              padding: 10px;
              align-items: center;">
    <div style="padding: 40px;border-bottom: 1px #dddddd solid;">
        <a style="align-items: center;display: flex;justify-content: center;" href="https://cynthesize.co"
            target="_blank">
            <img src="http://cynthesize.co/assets/cynthesize-logo.png"
                style="width: 100px;height: 88.66px; margin: 0 auto;" />
        </a>
        <div
            style="font-size: 2rem;font-weight: 500;width:515px;margin: 0 auto;padding: 5px 0 10px 0;align-items: center;display: flex;justify-content: center;">
            Your Project {{ project_name }} is successfully added
        </div>
        <div style="display: flex;justify-content: center; text-align:center;">
            We are excited to have you on board with us and are looking forward to
            create and ship interesting projects!
        </div>
    </div>
    <div style="padding: 30px 30px 20px 30px;justify-content: center;">
        <div style="padding-bottom: 15px;text-align:center;">
            At Cynthesize, we believe that no potential product which might be created
            in a hackathon, should be lost among the heap of GitHub repos or in your
            Behance profile. Click on the button below to post your project and get
            expert feedback to convert it into a monetized product or something of
            value!
        </div>
        <div style="display: flex;justify-content: center;align-items:center;">
            <a href="https://cynthesize.co/view/feed/projects" target="_blank"
                style="align-items:center;width: 108px; margin: 0 auto;padding: 12px;background: #4284f3;color: white;text-decoration: none;border-radius: 7px;">See all projects
            </a>
        </div>
        <div class="projects-text" style="text-align:left;">
            <br />
            Regards,
            <br />
            Team Cynthesize
            <br />
            <div class="icons">
                <a href="https://facebook.com/cynthesizetech" target="_blank"><i class="fa fa-facebook"
                        style="color: #4267B2;"></i></a>
                <a href="https://twitter.com/CynthesizeHQ" target="_blank"><i class="fa fa-twitter"
                        style="color: #55ADED;"></i></a>
                <a href="mailto:hello@cynthesize.co" target="_blank"><i class="fa fa-envelope"
                        style="color: rgb(44, 44, 44);"></i></a>
            </div>
        </div>
    </div>
</div>